[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
pyreadstat = "*"
black = "==19.3b0"
Fiona = "==1.8.18"
GDAL = "==3.2.2"
geopandas = "==0.8.2"
Rtree = "==0.9.7"

[dev-packages]

[requires]
python_version = "3.9"
